<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% if page.title %}
            {{ page.title | strip_html }} &#8211;
        {% endif %}
        {{ site.title | strip_html }}
    </title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.url }}/css/normalize.css">
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Alegreya+Sans+SC|Quattrocento+Sans|Inconsolata" rel="stylesheet">

    <!-- Icons -->
    <script defer src="{{ site.url }}/js/all.js"></script>

    <!-- MathJax support -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

    <!-- Meta information for search engines -->
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{% if page.summary %}{{ page.summary | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">
    {% if page.categories %}
        <meta name="keywords" content="{{ page.categories | join: ', ' }}">
    {% endif %}

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary" />
    {% if site.owner.twitter %}
        <meta name="twitter:creator" content="@{{ site.owner.twitter }}" />
    {% endif %}
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.summary %}{{ page.summary | strip_html }}{% elsif page.excerpt %}{{ page.excerpt  | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />

    <!-- Open Graph -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.summary %}{{ page.summary | strip_html }}{% elsif page.excerpt %}{{ page.excerpt  | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.title | strip_html | xml_escape }}">

    <!-- Set the canonical URL for search engines -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.title }}" href="{{ site.url }}/feed.xml" />

    <!-- Icons -->
    <!-- The ?v=ju6t8hu6r67 simply forces the browser to reload the favicon. Remove after a long time. -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/favicon/apple-touch-icon-57x57.png?v=ju6t8hu6r67">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/favicon/apple-touch-icon-60x60.png?v=ju6t8hu6r67">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/favicon/apple-touch-icon-72x72.png?v=ju6t8hu6r67">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/favicon/apple-touch-icon-76x76.png?v=ju6t8hu6r67">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/favicon/apple-touch-icon-114x114.png?v=ju6t8hu6r67">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/favicon/apple-touch-icon-120x120.png?v=ju6t8hu6r67">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/favicon/apple-touch-icon-144x144.png?v=ju6t8hu6r67">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/favicon/apple-touch-icon-152x152.png?v=ju6t8hu6r67">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/favicon/apple-touch-icon-180x180.png?v=ju6t8hu6r67">
    <link rel="icon" type="image/png" href="{{ site.url }}/favicon/favicon-32x32.png?v=ju6t8hu6r67" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.url }}/favicon/favicon-194x194.png?v=ju6t8hu6r67" sizes="194x194">
    <link rel="icon" type="image/png" href="{{ site.url }}/favicon/favicon-96x96.png?v=ju6t8hu6r67" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ site.url }}/favicon/android-chrome-192x192.png?v=ju6t8hu6r67" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ site.url }}/favicon/favicon-16x16.png?v=ju6t8hu6r67" sizes="16x16">
    <link rel="shortcut icon" href="{{ site.url }}/favicon/favicon.ico?v=ju6t8hu6r67">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{ site.url }}/favicon/mstile-144x144.png?v=ju6t8hu6r67">
</head>
