<div class="sharing-social">
    <span>Share on</span>
    <a href="mailto:?subject=Check this out&amp;body={{ page.title }} ({{ site.url }}{{ page.url }})"><i class=" sharing-social-icon transition fas fa-envelope" aria-hidden="true"></i></a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" target="_blank"><i class=" sharing-social-icon transition fab fa-twitter" aria-hidden="true"></i></a>
    <a href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"><i class=" sharing-social-icon transition fab fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class=" sharing-social-icon transition fab fa-facebook" aria-hidden="true"></i></a>
    <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}"" target="_blank"><i class=" sharing-social-icon transition fab fa-reddit" aria-hidden="true"></i></a>
</div>