{% if site.owner.github %}
    <a href="https://www.github.com/{{ site.owner.github }}" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
{% endif %}

{% if site.owner.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.owner.linkedin }}" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
{% endif %}

{% if site.owner.twitter %}
    <a href="https://twitter.com/{{ site.owner.twitter }}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
{% endif %}

<a href="{{ site.url }}/feed.xml" target="_blank"><i class="fa fa-rss-square" aria-hidden="true"></i></a>