.pagination {
    overflow: hidden;
    text-align: center;
}

.pagination a {
    text-decoration: none;
}

.pagination-button {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: lighten($black, 75%);
    border: 1px solid lighten($black, 75%);
    padding: 0.6rem 1.25rem;
    margin-bottom: 1em;
}

.pagination-active {
    color: $black;
}

.pagination-active:hover, .pagination-active:focus {
    color: $black;
    background-color: lighten($black, 90%);
}
