.social-icon {
    color: lighten($black, 50%);
}

.transition {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-github:hover, .fa-github:focus {
    color: #343434;
}

.fa-linkedin:hover, .fa-linkedin:focus {
    color: #0073a4;
}

.fa-facebook:hover, .fa-facebook:focus {
    color: #3d5b99;
}

.fa-reddit:hover, .fa-reddit:focus {
    color: #ff4500;
}

.fa-google-plus:hover, .fa-google-plus:focus {
    color: #e64a41;
}

.fa-pinterest:hover, .fa-pinterest:focus {
    color: #bd081c;
}

.fa-medium:hover, .fa-medium:focus {
    color: #00AB6C;
}

.fa-codepen:hover, .fa-codepen:focus {
    color: black;
}

.fa-rss-square:hover, .fa-rss-square:focus {
    color: #ff6600;
}

.fa-instagram:hover, .fa-instagram:focus {
    color: #375989;
}

.fa-twitter:hover, .fa-twitter:focus {
    color: #00aced;
}

.fa-envelope:hover, .fa-envelope:focus {
    color: #b23121;
}
